.reset-password-wrapper{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  position: relative;
}
.reset-password-container{
  width: 350px;
  position: absolute;
  top: 25%;
}
