<!-- <div class="page-content">
  <div class="form-v5-content">
    <form class="form-detail" [formGroup]="changePasswordForm" (ngSubmit)="changePassword(changePasswordForm.value)">
      <h2>Reset Password</h2>
      <div class="form-row">
        <label for="your-newPassword">New Password</label>
        <input type="password" name="password" id="" formControlName="password" placeholder="New Password"
          [ngClass]="{ error: getControl('password')?.errors && getControl('password')?.touched }"
          style="margin-bottom: 10px;">
        <br>
        <span *ngIf="getControl('password')?.errors && getControl('password')?.touched"
          style="color: red;margin-left: 25px;">Password is
          required.</span>
      </div>
      <div class="form-row">
        <label for="password" style="margin-top: 25px;">Confirm New Password</label>
        <input type="password" name="newPassword" id="" formControlName="newPassword" placeholder="Confirm New Password"
          [ngClass]="{ error: getControl('newPassword')?.errors && getControl('newPassword')?.touched }"
          style="margin-top: 10px;">
        <br>
        <span *ngIf="getControl('newPassword')?.errors && getControl('newPassword')?.touched"
          style="color: red;margin-left: 25px;">Password is
          required.</span>
      </div>
      <div class="form-row-last">
        <button [disabled]="changePasswordForm.invalid" class="submit">Submit</button>
      </div>
    </form>
  </div>
</div> -->


<div class="reset-password-wrapper">
  <div class="reset-password-container">
    <div class="card">
      <form [formGroup]="changePasswordForm">
        <div class="card-header p-2">
          <h3 class="card-title text-center text-blue" id="card-heading">{{ResetPassword}}</h3>
        </div>
        <div class="card-body">
          <div class="mb-3">
            <div class="mb-3">
              <label for="password" class="form-label fw-semibold">{{NewPassword}}</label>
              <div class="d-flex">
                <input [type]="hidePass ? 'password' : 'text'" class="form-control" id="password" formControlName="password" placeholder="Enter New Password...">
                <button class="btn btn-secondary text-light" (click)="togglePassword()">
                  <i class="fa-solid" [ngClass]="hidePass ? 'fa-eye' : 'fa-eye-slash'"></i>
                </button>
              </div>
              <small *ngIf="changePasswordForm.get('password')?.hasError('required') && changePasswordForm.get('password')?.touched" style="color: red;">
                {{PasswordIsRequired}}
              </small>
              <small *ngIf="changePasswordForm.get('password')?.errors?.['pattern'] && changePasswordForm.get('password')?.dirty" class="text-danger">
                {{PasswordShouldContainAtLeastOneCapitalLetterANumberAndASpecialCharacter}}
              </small>  
            </div>
            <div class="mb-3">
              <label for="newPassword" class="form-label fw-semibold">{{ConfirmPassword}}</label>
              <div class="d-flex">
                <input [type]="confirmHidePass ? 'password' : 'text'" class="form-control" id="newPassword" formControlName="newPassword" placeholder="Confirm New Password...">
                <button class="btn btn-secondary text-light" (click)="toggleConfirmPassword()">
                  <i class="fa-solid" [ngClass]="confirmHidePass ? 'fa-eye' : 'fa-eye-slash'"></i>
                </button>
              </div>
              <small *ngIf="changePasswordForm.get('newPassword')?.hasError('required') && changePasswordForm.get('newPassword')?.touched && changePasswordForm.get('newPassword')?.dirty" style="color: red;">
               {{ConfirmPasswordIsRequired}}
              </small>
              <small *ngIf="changePasswordForm.get('newPassword')?.hasError('passwordMismatch') && changePasswordForm.get('newPassword')?.dirty" style="color: red;">
                {{PasswordsDoNotMatch}}
              </small>
            </div>
         
          </div>
          <button type="button" class="btn btn-primary w-100" (click)="changePassword(changePasswordForm.value)"
            [disabled]="changePasswordForm.invalid">{{ResetPassword}}</button>
        </div>
      </form>
    </div>
  </div>
</div>
