.organization-table-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .card1-footer{
    display: flex;
    justify-content: flex-end;
    color: white;
  }
  .pop-up{
    position:absolute;
    top:30px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  