<div class="leave-header">
  <h3 class="text-blue">Leave/Dayoff Details: </h3>
  <div class="ml-xl-6">
    <button class="btn btn-primary reset-btn" (click)="reset()">
      <i class="fa fa-refresh"></i>
    </button>
  </div>
</div>
<hr>
<div class="table-responsive small admin-table">
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th scope="col">
          <div class="d-flex align-items-center">
            <p class="text-blue ">{{InternName}}</p>
            <div class="dropdown ">
              <button class="text-blue btn btn-link btn-sm dropdown-toggle" type="button" id="internNameDropdown"
                data-bs-toggle="dropdown" aria-haspopup="false" aria-expanded="false">
              </button>
              <div class="dropdown-menu " aria-labelledby="internNameDropdown">
                <div *ngFor="let list of internNames">
                  <a class="dropdown-item" (click)="filterByInternName(list)">{{list}}</a>
                </div>
              </div>
            </div>
          </div>
        </th>
        <th scope="col">
          <p class="text-blue"> {{StartedDate}}</p>
        </th>
        <th scope="col">
          <p class="text-blue"> {{EndedDate}}</p>
        </th>
        <th scope="col">
          <p class="text-blue">{{Type}}</p>
        </th>
        <th scope="col">
          <div class="d-flex align-items-center">
            <p class="text-blue ">{{TotalDays}}</p>
            <div class="dropdown ">
              <button class="text-blue btn btn-link btn-sm dropdown-toggle" type="button" id="totaldurationDropdown"
                data-bs-toggle="dropdown" aria-haspopup="false" aria-expanded="false">
              </button>
              <div class="dropdown-menu" aria-labelledby="totaldurationDropdown">
                <div *ngFor="let list of allDays">
                  <a class="dropdown-item" (click)="filterByLeaveDuration(list)">{{list}}</a>
                </div>
              </div>
            </div>
          </div>
        </th>

        <th scope="col ">
          <div class="d-flex align-items-center">
            <p class="text-blue ">{{ApprovalStatus}}</p>
            <div class="dropdown ">
              <button class="text-blue btn btn-link btn-sm dropdown-toggle" type="button" id="approvalStatusDropdown"
                data-bs-toggle="dropdown" aria-haspopup="false" aria-expanded="false">
              </button>
              <div class="dropdown-menu " aria-labelledby="approvalStatusDropdown">
                <a class="dropdown-item" (click)="filterByStatus('Pending')">{{Pending}}</a>
                <a class="dropdown-item" (click)="filterByStatus('Rejected')">{{Rejected}}</a>
                <a class="dropdown-item" (click)="filterByStatus('Approved')">{{Approved}}</a>
                <a class="dropdown-item" (click)="filterByStatus('')">{{All}}</a>
              </div>
            </div>
          </div>
        </th>
        <th scope="col">
          <p class="text-blue"> {{AppliedDate}}</p>
        </th>
        <th scope="col">
          <p class="text-blue"> {{LeaveAttachments}} </p>
        </th>
        <th scope="col">
          <p class="text-blue"> {{ReasonForLeave}}</p>
        </th>
        <th scope="col">
          <p class="text-blue"> {{UpdatedBy}}</p>
        </th>
        <th scope="col">
          <p class="text-blue align-items-center action"> {{Action}}</p>
        </th>
      </tr>
    </thead>
    <tbody *ngIf="leaveRecord">
      <tr *ngFor="let list of leaveRecord; index as i">
        <ng-container *ngIf="!list.isDeleted">
          <td class="align-middle ">{{ list.name |titlecase}}</td>
          <td class="align-middle ">{{ list.leaveStartDate | date}} </td>
          <td class="align-middle ">{{ list.leaveEndDate ? (list.leaveEndDate | date) : list.leaveStartDate | date }}
          </td>
          <td class="align-middle">{{list.leaveType}}</td>
          <td class="align-middle ">{{adminDayCount(list.totalDay,list.leaveCategory)}}</td>
          <td class="align-middle "> {{ list.leaveStatus === 'Submitted' ? 'Pending' : list.leaveStatus }}</td>
          <td class="align-middle ">{{ list.createdDate | date}} </td>
          <td class="align-middle fixed-cell" [ngClass]="{'cursor': !!list.comments}"
            (click)="list.attachments && openAttachmentModal(list.attachments)"> <span
              *ngIf="list.attachments && list.attachments.length > 0">
              <i class="fa fa-paperclip"></i> {{ list.attachments.length }} {{ list.attachments.length
              === 1 ? SmallAttachment : SmallAttachments }}
            </span></td>
          <td class="align-middle request-reason" title="{{list.leaveReason}}">{{list.leaveReason}}</td>
          <td class="align-middle">{{list.updatedBy}}</td>
          <td class="align-middle">
            <div class="action-place">
            <i class="fa fa-check approve-model hover-pointer" aria-hidden="true" (click)="openApproveModal(list,true)"
              data-bs-toggle="modal" *ngIf="list.leaveStatus===Rejected || list.leaveStatus===Pending"
              data-bs-target="#approveLeave"></i>
            <i class="fa fa-times reject-model hover-pointer" aria-hidden="true"
              *ngIf="list.leaveStatus===Approved || list.leaveStatus===Pending" data-bs-toggle="modal"
              data-bs-target="#rejectLeave" (click)="openRejectModal(list,false)"></i>
            </div>
          </td>
          <td class="text-center">
          </td>
        </ng-container>
      </tr>
    </tbody>
    <tbody *ngIf="leaveRecord && leaveRecord.length <= 0">
      <tr>
        <td class="text-center" colspan="10">{{NoLeaveRecords}}</td>
      </tr>
    </tbody>
  </table>
</div>


<!-- Approve Model -->

<div class="modal fade" id="approveLeave">
  <div class="modal-dialog">
    <div class="modal-content">
      <form [formGroup]="approveLeaveForm">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="modal-heading">{{ApproveOfLeave}}</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
            (click)="closeModal()"></button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <label class="form-label fw-semibold">{{YouAreAboutTo}} <b>{{Approve}}</b> {{LeaveDoYouWantToProceed}}
            </label>
          </div>
          <div class="mb-3">
            <label for="Comments" class="form-label fw-semibold"> {{Reasons}}</label>
            <input type="text" class="form-control" id="Comments" formControlName="Comments"
              placeholder={{EnterValidReason}}>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)=" closeModal()">Close</button>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
            (click)="approveLeave(approveLeaveForm.value)">{{SaveChanges}}</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Reject Model -->

<div class="modal fade" id="rejectLeave">
  <div class="modal-dialog">
    <div class="modal-content">
      <form [formGroup]="rejectLeaveForm">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="modal-heading">{{RejectLeave}}</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
            (click)="closeModal()"></button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <label class="form-label fw-semibold">{{YouAreAboutTo}} <b>{{Reject}}</b> {{LeaveDoYouWantToProceed}}
            </label>
          </div>
          <div class="mb-3">
            <label for="Comments" class="form-label fw-semibold"> {{Reasons}}<span class="text-danger"> *</span></label>
            <input type="text" class="form-control" id="Comments" formControlName="Comments"
              placeholder="Enter a valid reason "
              [ngClass]="{'is-invalid': rejectLeaveForm.get('Comments')?.invalid && (rejectLeaveForm.get('Comments')?.dirty || rejectLeaveForm.get('Comments')?.touched)}">
            <span
              *ngIf="rejectLeaveForm.get('Comments')?.invalid && (rejectLeaveForm.get('Comments')?.dirty || rejectLeaveForm.get('Comments')?.touched)"
              class="comments-class">{{EnterValidReason}}</span>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)=" closeModal()">Close</button>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
            (click)="approveLeave(rejectLeaveForm.value)" [disabled]="!rejectLeaveForm.get('Comments')?.value">{{SaveChanges}}</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- add Pagination -->

<nav aria-label="Page navigation example" *ngIf="totalPage > 1 || length >10">
  <ul class="pagination justify-content-end">
    <li class="page-item">
      <button class="page-link" (click)="previous()">Previous</button>
    </li>
    <ng-container *ngFor="let pageNumber of pageNumbers">
      <li class="page-item" [class.active]="pageNumber === currentPage">
        <button class="page-link" (click)="goToPage(pageNumber)"> {{ pageNumber }} </button>
      </li>
    </ng-container>
    <li class="page-item">
      <button class="page-link" (click)="next()">Next</button>
    </li>
  </ul>
</nav>

<!-- This is a attachment popup -->
<div class="modal fade" id="show-Attachment">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="modal-heading">{{AttachmentDetails}}</h1>
      </div>
      <div class="flex-grow-1">
        <div class="attachment-container-display">
          <div *ngFor="let list of leaveAttachment; let i = index" class="attachment-item">
            <button class="attachment-button-display" type="button" (click)="getImage(list)">
              <span class="button-text fixed-cell">{{ list.fileName }}</span>
              <i class="fa fa-paperclip"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
          (click)="closeAttachmentModal()">Close</button>
      </div>
    </div>
  </div>
</div>