<div class="leave-header">
  <div class="row">
    <div class="col-6">
      <h3 class="text-blue">{{RequestAttendance}}</h3>
    </div>
    <div class="col-6">
      <div class="reset-button ">
        <button class="btn btn-primary-reset " type="button" (click)="reset()">
          <i class="fa fa-refresh"></i>
        </button>
      </div>
    </div>
  </div>
</div>
<hr>
<!-- Intern Request Table -->
<div class="table-responsive small table-responsive">
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th scope="col">
          <div class="d-flex align-items-center">
            <p class="text-blue ">{{Name}}</p>
            <div class="dropdown ">
              <button class="text-blue btn btn-link btn-sm dropdown-toggle" type="button" id="internNameDropdown"
                data-bs-toggle="dropdown" aria-haspopup="false" aria-expanded="false">
              </button>
              <div class="dropdown-menu " aria-labelledby="internNameDropdown">
                <div *ngFor="let list of internNames">
                  <a class="dropdown-item" (click)="filterByInternName(list)">{{list}}</a>
                </div>
              </div>
            </div>
          </div>
        </th>
        <th scope="col">
          <div class="d-flex align-items-center">
            <p class="text-blue">{{Date}}</p>
            <div class="dropdown">
              <button class="text-blue btn btn-link btn-sm dropdown-toggle" type="button" id="totaldurationDropdown"
                data-bs-toggle="dropdown" aria-haspopup="false" aria-expanded="false">
              </button>
              <div class="dropdown-menu" aria-labelledby="totaldurationDropdown">
                <div *ngFor="let list of allDates">
                  <a class="dropdown-item" (click)="filterByRequestDuration(list)">{{list | date}}</a>
                </div>
              </div>
            </div>
          </div>
        </th>
        <th scope="col">
          <p class="text-blue">{{Punches}}</p>
        </th>
        <th scope="col">
          <p class="text-blue"> {{RequestedDate}}</p>
        </th>
        <th scope="col">
          <div class="d-flex align-items-center">
            <p class="text-blue ">{{RequestReason}}</p>
          </div>
        </th>
        <th scope="col ">
          <div class="d-flex align-items-center">
            <p class="text-blue ">{{Status}} </p>
            <div class="dropdown ">
              <button class="text-blue btn btn-link btn-sm dropdown-toggle" type="button" id="approvalStatusDropdown"
                data-bs-toggle="dropdown" aria-haspopup="false" aria-expanded="false">
              </button>
              <div class="dropdown-menu " aria-labelledby="approvalStatusDropdown">
                <a class="dropdown-item" (click)="filterByStatus('Pending')">{{Pending}}</a>
                <a class="dropdown-item" (click)="filterByStatus('Rejected')">{{Rejected}}</a>
                <a class="dropdown-item" (click)="filterByStatus('Approved')">{{Approved}}</a>
                <a class="dropdown-item" (click)="filterByStatus('')">{{All}}</a>
              </div>
            </div>
          </div>
        </th>
        <th scope="col">
          <p class="text-blue">{{UpdatedBy}}</p>
        </th>
        <th scope="col">
          <p class="text-blue align-items-center action"> {{Action}}</p>
        </th>
      </tr>
    </thead>
    <tbody *ngIf="getAllInternRequestHistory">
      <tr *ngFor="let list of getAllInternRequestHistory; index as i">
        <ng-container *ngIf="!list.isDeleted">
          <td class="align-middle col-1">{{ list.internName |titlecase}}</td>
          <td class="align-middle col-1">{{ list.date| date}} </td>
          <td class="col-4">
            <div class="d-flex flex-wrap gap-2">
              <div *ngFor="let punch of list.requestPunches">
                <span class="punch-time d-inline-block text-center ml-0 rounded-0" >{{ getDate(punch) }}</span>
                             </div>
            </div>
                </td>
          <td class="align-middle col-1">{{list.requestedOn|date}}</td>
          <td class="align-middle request-reason col-1" title="{{list.requestReason}}">{{list.requestReason}}</td>
          <td class="align-middle ">{{ list.status}}</td>
          <td class="align-middle ">{{ list.approvedBy}}</td>
          <td class="align-middle ">
            <i  class="fa fa-check approve-model cursor-pointer" aria-hidden="true" (click)="openPunchModel(list.id)" data-bs-toggle="modal" *ngIf="list.status==='Rejected' || list.status==='Pending'"  data-bs-target="#approveLeave"></i>
            <i class="fa fa-times reject-model cursor-pointer" aria-hidden="true"  *ngIf="list.status==='Approved' || list.status==='Pending'"  data-bs-toggle="modal" data-bs-target="#rejectLeave" (click)="openPunchModel(list.id)"></i> 
          </td>
          <td class="align-middle">

          </td>
        </ng-container>
      </tr>
    </tbody>
    <tbody>
      <tr>
        <td class="text-center" *ngIf="getAllInternRequestHistory.length==0" colspan="10">{{NoRequestedRecords}}</td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Approve Model -->

<div class="modal fade" id="approveLeave">
  <div class="modal-dialog">
    <div class="modal-content">
      <form [formGroup]="approveRequestForm">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="modal-heading">{{ApproveRequest}}</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
            (click)="closeModal()"></button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <label class="form-label fw-semibold">{{YouAreAboutTo}} <b>{{Approve}}</b> {{RequestDoYouwantToProceed}}?
            </label>
          </div>
          <div class="mb-3">
            <label for="Comments" class="form-label fw-semibold"> {{Reason}}</label>
            <input type="text" class="form-control" id="Comments" formControlName="Comments"
              placeholder="Enter a valid reason "
              [ngClass]="{'is-invalid': approveRequestForm.get('Comments')?.invalid && (approveRequestForm.get('Comments')?.dirty || approveRequestForm.get('Comments')?.touched)}">
            <span
              *ngIf="approveRequestForm.get('Comments')?.invalid && (approveRequestForm.get('Comments')?.dirty || approveRequestForm.get('Comments')?.touched)"
              class="comments-class" >{{EnterValidReason}}</span>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
            (click)=" closeModal()">{{Close}}</button>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
            (click)="approveRequest(approveRequestForm.value,approved)">{{SaveChanges}}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Reject Model -->

<div class="modal fade" id="rejectLeave">
  <div class="modal-dialog">
    <div class="modal-content">
      <form [formGroup]="rejectRequestForm">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="modal-heading">{{RejectRequest}}</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
            (click)="closeModal()"></button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <label class="form-label fw-semibold">{{YouAreAboutTo}} <b>{{Reject}}</b> {{RequestDoYouwantToProceed}}?
            </label>
          </div>
          <div class="mb-3">
            <label for="Comments" class="form-label fw-semibold"> {{Reason}}<span class="text-danger"> *</span></label>
            <input type="text" class="form-control" id="Comments" formControlName="Comments"
              placeholder="Enter a valid reason "
              [ngClass]="{'is-invalid': rejectRequestForm.get('Comments')?.invalid && (rejectRequestForm.get('Comments')?.dirty || rejectRequestForm.get('Comments')?.touched)}">
            <span
              *ngIf="rejectRequestForm.get('Comments')?.invalid && (rejectRequestForm.get('Comments')?.dirty || rejectRequestForm.get('Comments')?.touched)"
              >{{EnterValidReason}}</span>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
            (click)=" closeModal()">{{Close}}</button>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
            (click)="approveRequest(rejectRequestForm.value,rejected)"
            [disabled]="!rejectRequestForm.get('Comments')?.value">{{SaveChanges}}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>