<div class="forgot-password-wrapper">
  <div class="forgot-password-container">
    <div class="card">
      <form [formGroup]="forgotForm">
        <div class="card-header p-2">
          <h3 class="card-title text-center text-blue" id="card-heading">Forgot Password</h3>
        </div>
        <div class="card-body">
          <div class="mb-3">
            <div class="mb-3">
              <label for="email" class="form-label fw-semibold">Email:</label>
              <input type="text" class="form-control" id="email" formControlName="email" placeholder="Enter Email..."
                [ngClass]="{ 'is-invalid' : (getControl('email')?.errors && getControl('email')?.touched)}"
                [ngClass]="{ 'is-valid' : (!getControl('email')?.errors && getControl('email')?.touched)}" required>
              <small class="text-danger" *ngIf="getControl('email')?.errors && getControl('email')?.touched">Email is
                required.</small>
            </div>
          </div>
          <button type="button" class="btn btn-primary w-100" (click)="forgot(forgotForm.value.email)"
            [disabled]="forgotForm.invalid">Send Password Reset Link</button>
          <!-- <small class="text-danger" *ngIf="showMessage">Rest Password link sent on your register email address.</small> -->
        </div>
      </form>
    </div>
  </div>
</div>
